{% extends 'base.html.twig' %}

{% block title %}Logowanie{% endblock %}

{% block body %}
    <h1>Zaloguj się</h1>

    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.password) }}

    <button type="submit" class="btn btn-primary">Zaloguj</button>
    {{ form_end(form) }}
{% endblock %}
