<!DOCTYPE html>
<html>
<head>
    <title>Formularz</title>
</head>
<body>
<h1>Formularz</h1>
<form id="person-form" method="POST" enctype="multipart/form-data" action="{{ path('person_new') }} ">
    {{ form_widget(form) }}
    <button type="submit" id="submit-button">Wyślij</button>
</form>

<div id="form-messages"></div>
<div>
    <a href="{{ path('person_list') }}">Przejdź do listy osób</a>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#person-form').submit(function (event) {
            event.preventDefault();

            var formData = new FormData(this);

            $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    $('#form-messages').html('<div class="alert alert-success">Pomyślnie utworzono.</div>');
                },
                error: function (xhr) {
                    $('#form-messages').html('<div class="alert alert-danger">Niepoprawne dane.</div>');
                    $('#form-messages').append('<div class="alert alert-danger">Kod błędu: ' + xhr.status + '</div>');
                }
            });
        });
    });
</script>

</body>
</html>
